.squareStyle {
  width: 200px;
  height: 200px;
  border: 1px solid green;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formCss {
  padding: 100px;
  display: flex;
  gap: 12px;
}

.layoutCss {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  text-align: center;
  
}